
        <input type= "checkbox"/>
        <h2><%= @todo_description %> <span><%=@todo_pomodoro_estimate%> pomodoros</span></h2>
        <a href= "#">Edit</a>
        <a href= "#">Delete</a>
        <a href= "/todo/index">Go back...</a>
        <img id= "image-2" src="http://clipground.com/images/completed-clipart-8.jpg"></img>
    
<h3>Todo #<%= params[:id] %></h3>
