
        <input type= "checkbox"/>
        <h2><%= @todo_description %> 4 pomodoros</h2>
        <a href= "#">Edit</a>
        <a href= "#">Delete</a>
        <a href= "index.html">Go back...</a>
        <img id= "image-2" src="http://clipground.com/images/completed-clipart-8.jpg"></img>
    
<h3>Todo #<%= params[:id] %></h3>
